<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


  <!-- Configuring Data Source obj -->
  <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
  <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
  <property name="url" value="jdbc:mysql:///sai"/>
  <property name="username" value="root"/>
  <property name="password" value="root"/>
  </bean> 

<!-- 			Configuring Dao class -->
<bean id="custDao" class="com.nt.dao.CustomerDaoImpl">
<constructor-arg  ref="ds"/>
</bean>

			<!-- configuring Service class -->
			<bean id="custService" class="com.nt.service.CustMgmtServiceImpl">
			<constructor-arg ref="custDao"/>
			</bean>
			
				<!-- configuring Controller class -->
				<bean id="controller" class="com.nt.Controller.MainController">
				<constructor-arg ref="custService"/>
				</bean>
</beans>
